:root {
    --font-size: 16px;
}

body::-webkit-scrollbar {
    display: none;
}
html,
body {
    margin: 0;
    overflow: hidden;
}

body > #index {
    display: flex;
    overflow: hidden;
    max-width: 100vw;
    position: fixed;
    z-index: 1;
    right: 0;
    transition: 0.4s;
}
body > #index > div {
    position: relative;
    width: 16px;
    height: 16px;
}
body > #index > div > .icon {
    width: 16px;
    height: 16px;
}

.hiden {
    transform: translateX(calc(100% - 16px));
}

.main {
    height: 100vh;
    position: absolute;
    top: 0;
    display: flex;
    transition: 0.4s;
    overflow: hidden;
}

.main > div {
    min-width: 100vw;
    background-color: var(--bg);
}

#chat {
    overflow: auto;
    height: calc(90vh - 16px);
    padding-top: 16px;
}
#chat ~ * {
    height: 10vh;
    display: flex;
}
#chat ~ * > textarea {
    outline: none;
    border: none;
    flex-grow: 1;
}

#chat > div {
    font-size: var(--font-size);
    padding: 0.2rem;
    border-radius: 0.2rem;
    position: relative;
}
#chat > div > :nth-child(1) {
    position: absolute;
    right: 0;
    top: 0;
}
#chat > .output {
    background-color: #efefef;
}
#chat > .input {
}

/*!
  Theme: Default
  Description: Original highlight.js style
  Author: (c) Ivan Sagalaev <maniac@softwaremaniacs.org>
  Maintainer: @highlightjs/core-team
  Website: https://highlightjs.org/
  License: see project LICENSE
  Touched: 2021
*/
pre code.hljs {
    background-color: #fff;
    display: block;
    overflow-x: auto;
    padding: 1em;
}
code.hljs {
    padding: 3px 5px;
}
.hljs {
    background: #f3f3f3;
    color: #444;
}
.hljs-comment {
    color: #697070;
}
.hljs-punctuation,
.hljs-tag {
    color: #444a;
}
.hljs-tag .hljs-attr,
.hljs-tag .hljs-name {
    color: #444;
}
.hljs-attribute,
.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-name,
.hljs-selector-tag {
    font-weight: 700;
}
.hljs-deletion,
.hljs-number,
.hljs-quote,
.hljs-selector-class,
.hljs-selector-id,
.hljs-string,
.hljs-template-tag,
.hljs-type {
    color: #800;
}
.hljs-section,
.hljs-title {
    color: #800;
    font-weight: 700;
}
.hljs-link,
.hljs-operator,
.hljs-regexp,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-symbol,
.hljs-template-variable,
.hljs-variable {
    color: #ab5656;
}
.hljs-literal {
    color: #695;
}
.hljs-addition,
.hljs-built_in,
.hljs-bullet,
.hljs-code {
    color: #397300;
}
.hljs-meta {
    color: #1f7199;
}
.hljs-meta .hljs-string {
    color: #38a;
}
.hljs-emphasis {
    font-style: italic;
}
.hljs-strong {
    font-weight: 700;
}

#button-container > button {
    font-size: var(--font-size);
    border-radius: 0.2rem;
    overflow: hidden;
}

#review_l > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#review_l > div > span:nth-child(1) {
    display: flex;
    overflow-x: auto;
    gap: 4px;
}

#history {
    overflow: scroll;
}
#history > div {
    position: relative;
}
#history > div > div {
    position: absolute;
    height: 24px;
}
#setting {
    overflow: scroll;
}

button {
    border-radius: 0;
    background-color: var(--bg);
    height: var(--height);
    border: none;
    outline: none;
    margin: 0px;
    color: var(--color);
    padding: 0;
    transition: var(--transition);
    cursor: pointer;
    background-position: center;
    background-size: cover;
    width: var(--b-button);
    height: var(--b-button);
    position: relative;
}
button:hover {
    background-color: var(--hover-color);
}
select {
    border-radius: 0;
    background-color: var(--bg);
    height: var(--height);
    border: none;
    outline: none;
    margin: 0px;
    color: var(--color);
    font-size: var(--font-size);
    padding: 0 var(--o-padding) 0 var(--o-padding);
    transition: var(--transition);
    user-select: none;
}
select:hover {
    background-color: var(--hover-color);
}
option {
    font-size: var(--font-size);
    background-color: var(--bg);
}
button > .icon {
    width: var(--b-button);
}

@media (prefers-color-scheme: dark) {
    .find_h_h {
        background-color: #ffffff40;
    }
}
